<div>
  <p-card>
    <div style="padding: 10px">
      <button pButton
              style="font-size: 16px"
              label="Shto student"
              (click)="openStudentProfile()"
              icon="fas fa-plus"></button>
    </div>
    <p-table [value]="studentList">
      <ng-template pTemplate="header">
        <tr>
          <th>Studenti</th>
          <th>Statusi i kontrates</th>
          <th>Kati</th>
          <th>Dhoma</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student>
        <tr (click)="openStudentProfile(student)" style="cursor:pointer;">
          <td>
            <div style="display: flex; justify-content: center; align-items: center">
              <span>{{ student.firstName }}  {{student.lastName}}</span>
            </div>
          <td>
            <div style="display: flex; justify-content: center; align-items: center">
              <span>Aktive</span>
            </div>
          <td>
            <div style="display: flex; justify-content: center; align-items: center">
              <span>{{ student.floor_id }}</span>
            </div>
          <td>
            <div style="display: flex; justify-content: center; align-items: center">
              <span>{{ student.room_id }}</span>
            </div>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <div style="display: flex; align-items: center">
          <span>Nuk ka asnje student me kontrate!</span>
        </div>
      </ng-template>
    </p-table>
  </p-card>
</div>
