span {
  font-size: 16px;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  font-size: 14px;
  padding: 1rem 1rem;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #495057;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}
