::ng-deep .p-sidebar {
  background-color: #b2ffe0;
  width: 20vw !important;
}



.menu-item:hover{
  font-weight: bold;
  background-color: #46fab4;
  cursor: pointer;
}

.menu-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  font-size: 16px;
}

.top-panel {
  background-color: #b2ffe0;
  height: 3vw
}

::ng-deep .cts-button .p-button.p-button-icon-only {
  padding: 12px;
  width: 100px;
  background-color: #27c792;
}
